<h3 *ngIf="products; else noProduct">{{title}}</h3>

<div class="row">
    <ng-template #noProduct>
        <div class="alert alert-secondary" role="alert">
            Bu Kategoride Ürün Yoktur!!
        </div>
    </ng-template>
    <div *ngFor="let prdct of products" class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="prdct.imageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{prdct.name}}  {{prdct.price}}</h5>
            <p class="card-text">{{prdct.description}}</p>
            <a href="#" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
   
</div>